body{
	margin:0;
	padding: 0;
	background: #ebebeb;
}	

table{
	width: 250px;
	height: 200px;
	margin:0 auto;
	margin-top: 5%;
}
input{
	width: 200px;
	height: 30px;
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border:1px solid #ccc;
}
#bb{
	width: 200px;
	height: 30px;
}
.aa{
	width: 50px;
	height: 30px;
	background:  #66B3FF;
	color: white;
	border-radius: 8px;
	margin-left: 100px;
}